In [56]:
import pandas as pd
import re
import nltk
import string
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [57]:
pip install sastrawi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sastrawi in /usr/local/lib/python3.8/dist-packages (1.0.1)

In [58]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTvJ59UFw8thcDdq9zhz_IIvi93nqJs7NDvHkpiKZCL92EnWvMTRnplo6pJSnh6EnUFYo5eqfsuZ4F0/pub?output=csv')

In [59]:
df.head()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13169 entries, 0 to 13168
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tweet          13169 non-null  object
 1   HS             13169 non-null  int64
 2   Abusive        13169 non-null  int64
 3   HS_Individual  13169 non-null  int64
 4   HS_Group       13169 non-null  int64
 5   HS_Religion    13169 non-null  int64
 6   HS_Race        13169 non-null  int64
 7   HS_Physical    13169 non-null  int64
 8   HS_Gender      13169 non-null  int64
 9   HS_Other       13169 non-null  int64
 10  HS_Weak        13169 non-null  int64
 11  HS_Moderate    13169 non-null  int64
 12  HS_Strong      13169 non-null  int64
dtypes: int64(12), object(1)
memory usage: 1.3+ MB

In [70]:
df['Tweet'] = df['Tweet'].astype(str)

TypeError: ignored

In [62]:
df['Tweet'][0]

"- disaat semua cowok berusaha melacak perhatian gue. loe lantas remehkan perhatian yg gue kasih khusus ke elo. basic elo cowok bego ! ! !'"

In [63]:
tokens = nltk.tokenize.word_tokenize(df['Tweet'][0])
tokens

['-',
 'disaat',
 'semua',
 'cowok',
 'berusaha',
 'melacak',
 'perhatian',
 'gue',
 '.',
 'loe',
 'lantas',
 'remehkan',
 'perhatian',
 'yg',
 'gue',
 'kasih',
 'khusus',
 'ke',
 'elo',
 '.',
 'basic',
 'elo',
 'cowok',
 'bego',
 '!',
 '!',
 '!',
 "'"]

In [64]:
def normalize_text(text):
    result = text.lower() #lower the text even unicode given
    result = re.sub(r'[^a-z0-9 -]', ' ', result, flags = re.IGNORECASE|re.MULTILINE)
    result = re.sub(r'( +)', ' ', result, flags = re.IGNORECASE|re.MULTILINE)

    return result.strip()

In [65]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
 
factory = StopWordRemoverFactory()
stopwords = factory.get_stop_words()
print(stopwords)

['yang', 'untuk', 'pada', 'ke', 'para', 'namun', 'menurut', 'antara', 'dia', 'dua', 'ia', 'seperti', 'jika', 'jika', 'sehingga', 'kembali', 'dan', 'tidak', 'ini', 'karena', 'kepada', 'oleh', 'saat', 'harus', 'sementara', 'setelah', 'belum', 'kami', 'sekitar', 'bagi', 'serta', 'di', 'dari', 'telah', 'sebagai', 'masih', 'hal', 'ketika', 'adalah', 'itu', 'dalam', 'bisa', 'bahwa', 'atau', 'hanya', 'kita', 'dengan', 'akan', 'juga', 'ada', 'mereka', 'sudah', 'saya', 'terhadap', 'secara', 'agar', 'lain', 'anda', 'begitu', 'mengapa', 'kenapa', 'yaitu', 'yakni', 'daripada', 'itulah', 'lagi', 'maka', 'tentang', 'demi', 'dimana', 'kemana', 'pula', 'sambil', 'sebelum', 'sesudah', 'supaya', 'guna', 'kah', 'pun', 'sampai', 'sedangkan', 'selagi', 'sementara', 'tetapi', 'apakah', 'kecuali', 'sebab', 'selain', 'seolah', 'seraya', 'seterusnya', 'tanpa', 'agak', 'boleh', 'dapat', 'dsb', 'dst', 'dll', 'dahulu', 'dulunya', 'anu', 'demikian', 'tapi', 'ingin', 'juga', 'nggak', 'mari', 'nanti', 'melainkan', 'oh', 'ok', 'seharusnya', 'sebetulnya', 'setiap', 'setidaknya', 'sesuatu', 'pasti', 'saja', 'toh', 'ya', 'walau', 'tolong', 'tentu', 'amat', 'apalagi', 'bagaimanapun']

In [66]:
df['text_lower'] = df['Tweet'].str.lower()

In [67]:
df.head()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong,text_lower
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0,- disaat semua cowok berusaha melacak perhatia...
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0,rt user: user siapa yang telat ngasih tau elu?...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0,"41. kadang aku berfikir, kenapa aku tetap perc..."
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0,user user aku itu aku\n\nku tau matamu sipit t...
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0,user user kaum cebong kapir udah keliatan dong...

In [68]:
df['text_lower'][0]

"- disaat semua cowok berusaha melacak perhatian gue. loe lantas remehkan perhatian yg gue kasih khusus ke elo. basic elo cowok bego ! ! !'"

In [71]:
def casefolding(review):
    review = review.lower()
    return review

def tokenize(review):
    token = nltk.word_tokenize(review)
    return token

def filtering(review):
    # Remove angka termasuk angka yang berada dalam string
    # Remove non ASCII chars
    review = re.sub(r'[^\x00-\x7f]', r'', review)
    review = re.sub(r'(\\u[0-9A-Fa-f]+)', r'', review)
    review = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", review)
    review = re.sub(r'\\u\w\w\w\w', '', review)
    # Remove link web
    review = re.sub(r'http\S+', '', review)
    # Remove @username
    review = re.sub('@[^\s]+', '', review)
    # Remove #tagger
    review = re.sub(r'#([^\s]+)', '', review)
    # Remove simbol, angka dan karakter aneh
    review = re.sub(r"[.,:;+!\-_<^/=?\"'\(\)\d\*]", " ", review)
    return review

def replaceThreeOrMore(review):
    # Pattern to look for three or more repetitions of any character, including newlines (contoh goool -> gol).
    pattern = re.compile(r"(.)\1{1,}", re.DOTALL)
    return pattern.sub(r"\1", review)



# def removeStopword(review):
#     stopwords = open('stopword-tala.txt', 'r').read().split()
#     content = []
#     filteredtext = [word for word in review.split() if word not in stopwords]
#     content.append(" ".join(filteredtext))
#     review = content
#     return review

# stringData = casefolding(String)
# print (stringData)
data = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTvJ59UFw8thcDdq9zhz_IIvi93nqJs7NDvHkpiKZCL92EnWvMTRnplo6pJSnh6EnUFYo5eqfsuZ4F0/pub?output=csv', encoding='latin-1')
# Keeping only the neccessary columns
datasets = [data]
   
for teks in datasets:
    teks = teks['Tweet'].apply(casefolding)
    teks = teks.apply(filtering)
    teks = teks.apply(replaceThreeOrMore)
    teks = teks.apply(tokenize)
    # teks = teks.apply(" ".join)
    # teks = teks.apply(removeStopword)
    teks = teks.apply(" ".join)
    print(teks)

review_dict = {'text_lower': teks}
df = pd.DataFrame(review_dict, columns = ['text_lower'])
print(df.info())
df.to_csv('data-bersih.csv', sep= ',' , encoding='utf-8')

0        disat semua cowok berusaha melacak perhatian g...
1        rt user user siapa yang telat ngasih tau elu e...
2        kadang aku berfikir kenapa aku tetap percaya p...
3        user user aku itu aku n nku tau matamu sipit t...
4        user user kaum cebong kapir udah keliatan dong...
                               ...
13164    user jangan asal ngomong ndasmu congor lu yg s...
13165                          user kasur mana enak kunyuk
13166    user hati hati bisu g n nlagi bosan huft xf x ...
13167    user user user user bom yang real mudah terdet...
13168    user mana situ ngasih itu cuma foto ya kutil onta
Name: Tweet, Length: 13169, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13169 entries, 0 to 13168
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text_lower  13169 non-null  object
dtypes: object(1)
memory usage: 103.0+ KB
None

In [74]:
df

                                              text_lower
0      disat semua cowok berusaha melacak perhatian g...
1      rt user user siapa yang telat ngasih tau elu e...
2      kadang aku berfikir kenapa aku tetap percaya p...
3      user user aku itu aku n nku tau matamu sipit t...
4      user user kaum cebong kapir udah keliatan dong...
...                                                  ...
13164  user jangan asal ngomong ndasmu congor lu yg s...
13165                        user kasur mana enak kunyuk
13166  user hati hati bisu g n nlagi bosan huft xf x ...
13167  user user user user bom yang real mudah terdet...
13168  user mana situ ngasih itu cuma foto ya kutil onta

[13169 rows x 1 columns]

In [89]:
text = " " ""
'disaat semua cowok berusaha melacak perhatian gue. loe lantas remehkan perhatian yg gue kasih khusus ke elo. basic elo cowok bego ! ! !'
" " ""
text = re.sub('\t', '_', text)
print(text)

In [90]:
text = 'disaat semua cowok berusaha melacak perhatian gue. loe lantas remehkan perhatian yg gue kasih khusus ke elo. basic elo cowok bego ! ! !'
text = re.sub('\t', '_', text)
print(text)

disaat semua cowok berusaha melacak perhatian gue. loe lantas remehkan perhatian yg gue kasih khusus ke elo. basic elo cowok bego ! ! !